<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <!-- Fragmento principal para Medicina Genética -->
        <div th:fragment="contenidoMedicinaGenetica">
            <div class="row mt-4">
                <div class="col-12">
                    <h2 style="color: #007B7F; font-weight: bold;">Medicina Genética</h2>
                </div>


                <div class="col-12 mt-3">
                    <p style="color: #555; text-align: justify;">
                        El Servicio de Genética del Hospital Clínica Bíblica ofrece planes exclusivos para detectar predisposiciones genéticas, ya sea hereditarias o no. Los estudios están dirigidos a:
                    </p>
                </div>


                <div class="col-12 mt-2">
                    <ul style="color: #555; font-size: 18px;">
                        <li>Pacientes con antecedentes familiares de cáncer o que deseen conocer su predisposición a enfermedades.</li>
                        <li>Mujeres embarazadas que buscan información sobre afecciones cromosómicas.</li>
                        <li>Personas que planean tener hijos y quieren saber qué enfermedades podrían heredar.</li>
                    </ul>
                </div>


                <div class="col-12 mt-3">
                    <p style="color: #555; text-align: justify;">
                        La consulta genética ayuda a los pacientes a comprender sus riesgos y opciones de tratamiento para tomar decisiones informadas sobre su salud.
                    </p>
                </div>

                <!-- Video de Youtube -->
                <div class="col-12 mt-4">
                    <h4 style="color: #007B7F;">Conoce más en el siguiente video:</h4>
                    <div class="text-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/pWLZm6FUYJY" 
                            title="Medicina Genética" frameborder="0" allowfullscreen>
                        </iframe>

                    </div>
                </div>

                <div class="text-center mt-4">
                    <a href="/presupuesto" class="btn btn-primary" style="background-color: #007B7F; color: white; padding: 10px 15px; border: none; border-radius: 5px; text-decoration: none;">Solicitar Presupuesto</a>
                </div>
            </div>
        </div>
    </body>
</html>
