<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="maternidad">
            <section class="content-section" style="background-color: #f0f0f0; padding: 20px; border-radius: 5px; margin-top: 0;">
                <h2 style="color: #007B7F; border-bottom: 2px solid #007B7F; padding-bottom: 10px; text-align: left;">Maternidad</h2>
                <br>
                <p>
                    La maternidad es un momento lleno de alegría y significado, y nos comprometemos a brindar una atención completa, eficaz y segura para las familias durante el embarazo, parto y postparto. Nuestro enfoque combina tecnología avanzada con un equipo altamente capacitado para garantizar un proceso exitoso.
                </p>

                <h3 style="color: #007B7F;">Nuestro Servicio</h3>
                <hr style="border: 1px solid #007B7F; margin: 20px 0;" /> 
                <p>
                    Ofrecemos un acompañamiento personalizado, en el cual respetamos las preferencias de la madre y su acompañante, de esta manera buscamos crear un ambiente cálido y seguro. Proporcionamos orientación y apoyo continuo en temas como la lactancia materna, cuidados del recién nacido y de la madre, tanto de manera presencial como telefónica.
                </p>

                <div class="text-center mt-4">
                    <a href="/presupuesto" class="btn btn-primary" style="background-color: #007B7F; color: white; padding: 10px 15px; border: none; border-radius: 5px; text-decoration: none;">Solicitar Presupuesto</a>
                </div>
            </section>
        </div>
    </body>
</html>