<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="formularioPresupuesto">
            <section class="content-section" style="background-color: #f0f0f0; padding: 20px; border-radius: 5px;">
                <h2 class="text-center" style="color: #007B7F;">Solicite su Presupuesto</h2>
                <br>
                <br>
                <form th:action="@{/presupuesto/enviar}" method="post" th:object="${presupuesto}">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="nombre" style="color: #007B7F;">Nombre *</label>
                            <input type="text" id="nombre" th:field="*{nombre}" class="form-control" required placeholder="Ingrese su nombre" style="width: 100%; padding: 10px;" />
                        </div>
                        <br>
                        <br>
                        <div class="col-md-6">
                            <label for="apellido" style="color: #007B7F;">Apellido *</label>
                            <input type="text" id="apellido" th:field="*{apellido}" class="form-control" required placeholder="Ingrese su apellido" style="width: 100%; padding: 10px;" />
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="telefono" style="color: #007B7F;">Número de Teléfono *</label>
                            <input type="tel" id="telefono" th:field="*{telefono}" class="form-control" required placeholder="Ingrese su teléfono" style="width: 100%; padding: 10px;" />
                        </div>
                        <br>
                        <br>
                        <div class="col-md-6">
                            <label for="email" style="color: #007B7F;">Email *</label>
                            <input type="email" id="email" th:field="*{email}" class="form-control" required placeholder="Ingrese su email" style="width: 100%; padding: 10px;" />
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary" style="background-color: #007B7F; color: white; padding: 10px 15px; border: none; border-radius: 5px;">Enviar</button>
                    </div>
                </form>
            </section>
            
            
        </div>
    </body>
</html>
